Architecture: (Automatically Populated)
Pre-Depends: adduser, libc-bin, iptables
Description: Provides a binary that can be used to launch executables with
 limited or completely disabled network access.
Maintainer: Eric Pruitt
Package: no-networking
Version: 1.0.0
